[submodule "ClHcaSharp"]
	path = ClHcaSharp
	url = https://github.com/MarshmallowAndroid/ClHcaSharp
[submodule "CriWareTools"]
	path = CriWareTools
	url = https://github.com/MarshmallowAndroid/CriWareTools
[submodule "AssetStudio"]
	path = AssetStudio
	url = https://github.com/Perfare/AssetStudio
[submodule "CriWareLibrary"]
	path = CriWareLibrary
	url = https://github.com/MarshmallowAndroid/CriWareLibrary
