[submodule "ClHcaSharp"]
	path = ClHcaSharp
	url = https://github.com/MarshmallowAndroid/ClHcaSharp
[submodule "CriWareTools"]
	path = CriWareTools
	url = https://github.com/MarshmallowAndroid/CriWareTools
[submodule "CriWareLibrary"]
	path = CriWareLibrary
	url = https://github.com/MarshmallowAndroid/CriWareLibrary
[submodule "AssetsTools.NET"]
	path = AssetsTools.NET
	url = https://github.com/nesrak1/AssetsTools.NET.git
